.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 60px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    color: #5c9009;
    font-size: 18px;
    
}
.navbar li{
    cursor: pointer;
}

.navbar .active{
    padding: 2px;
    border-bottom: 2px solid #5c9009;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background-color: #5c9009;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: transparent;
    border: 1px solid #5c9009;
    color: #5c9009;
}
.navbar-right img{
    width: 30px;
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #02e20d; 
    border-radius: 5px;
    top: -3px;
    right: -3px;
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 60px;
    }
    .navbar-menu{
        gap:20px;
        font-size:17px;
    }
    .navbar-right{
        gap:30px
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding:8px 25px;
    }
    
}

@media (max-width:900px) {
    .navbar .logo{
        width: 60px;
    }
    .navbar-menu{
        gap:15px;
        font-size:16px;
    }
    .navbar-right{
        gap:20px
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding:7px 22px;
        font-size: 15px;
    }
    
}

.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position:absolute;
    display: none;
    right: 0;
    z-index: 1;
    
}
.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff7f5;
    padding: 20px 25px;
    border-radius: 4px;
    border:1px solid #5c9009;
    outline:2px solid white;
    list-style: none;

}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    cursor:pointer;
    gap:10px;
}

.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown li:hover{

    color: #5c9009;
}


@media (max-width:750px) {
    .navbar .logo{
        width: 60px;
    }
    .navbar-menu{
       display:none;
    }
    
}