@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Blinker", sans-serif;;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.app{
  padding:0% 10%;
  margin: auto;
}